@model CafeSingleton.Models.Cafe

<br /><div class="panel panel-default">
    <div class="panel-body">
        <div style="text-align:center">
            <h2>@Model.CafeName</h2>
            <h4>@Model.City</h4>

            <a class="btn btn-sm btn-primary" href="/Home/Edit/@Model.ID">Edit</a>
        </div>
    </div>
</div>