@model CafeSingleton.Models.HomeIndexVM
<br /><div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-11 offset-1" style="text-align:center">
            <h2>@Model.FeaturedCafe.CafeName</h2>
            <h4>- @Model.FeaturedCafe.City</h4>
        </div>
    </div>
</div>